Urxvt*termName:             screen-256color

URxvt*scrollBar:		    false
URxvt*scrollWithBuffer:		true
URxvt*secondaryScreen:		1
URxvt*secondaryScroll:		0

URxvt.font:			        xft:DejaVu Sans Mono:medium:size=10
URxvt.letterSpace:		    -1
!Xft.dpi:			        131
Xft.lcdfilter:			    lcddefault
Xft.hintstyle:			    hintslight
Xft.hinting:			    1
Xft.antialias:			    1
Xft.rgba:			        rgb

URxvt.loginShell:		    true

URxvt.perl-ext-common:		keyboard-select,url-select,clipboard
URxvt.keysym.M-Escape:		perl:keyboard-select:activate
URxvt.keysym.M-u:		    perl:url-select:select_next
URxvt.url-select.autocopy:	true
URxvt.url-select.button:	1
URxvt.url-select.launcher:	/usr/bin/firefox
URxvt.url-select.underline:	true
URxvt.keysym.M-c:		    perl:clipboard:copy
URxvt.keysym.M-v:		    perl:clipboard:paste
URxvt.clipboard.autocopy:	true

URxvt.saveLines:		    2000
URxvt.fading:			    0
URxvt.internalBorder:		24
Xcursor.size:			    8

*lighterbg: #17141f
*selection: #201d2a

! special
*.foreground:   #d0cdd9
*.background:   #0e0b14
*.cursorColor:  #d0cdd9

! black
*.color0:       #17141f
*.color8:       #e8c9d9

! red
*.color1:       #201d2a
*.color9:       #87c8da

! green
*.color2:       #322d40
*.color10:      #c2d177

! yellow
*.color3:       #4a445e
*.color11:      #c1cd8d

! blue
*.color4:       #696083
*.color12:      #d79dbc

! magenta
*.color5:       #8c85a2
*.color13:      #d2cbea

! cyan
*.color6:       #b5b0c3
*.color14:      #e4b3cd

! white
*.color7:       #e3e1e8
*.color15:      #aae3f4


